body, html {
    font-family: 'Verdana', Helvetica, Arial, sans-serif;
    color: rgb(250, 238, 223);
}

.container {
    width: 300px;
    position: relative;
}

.container .label {
   padding: 0 0 2px 0;
   font-size: 12px;
}

.container .label i {
    padding: 0 5px 0 0;
}

.container progress {
    -webkit-appearance: none;
    appearance: none;

    transform: skew(-20deg);
    width: 300px;
    height: 16px;
}

.container progress::-webkit-progress-bar {
    background: transparent;
}

.container progress::-webkit-progress-value {
    transition: width 1s ease-in-out;
    background: rgba(189, 195, 199,0.8);
}

.container progress[state='good']::-webkit-progress-value {
    background: rgba(46, 204, 113,0.8);
}

.container progress[state='warning']::-webkit-progress-value {
    background: rgba(243, 156, 18,0.8);
}

.container progress[state='danger']::-webkit-progress-value {
    background: rgba(231, 76, 60,0.8);
}
